{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": true,
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^@/lib/(.*)$",
    "^@/types/(.*)$",
    "^@/assets/(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
