{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "@/auth",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/actions/(.*)$",
    "^@/utils/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/data/(.*)$",
    "^@/contexts/(.*)$",
    "^@/types/(.*)$",
    "^@/assets/(.*)$",
    "^./(.*)$",
    "^../(.*)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
